h1{
    font-family: sans-serif;
}

h2{
    font-family: sans-serif;
}

h3{
    font-family: sans-serif;
    text-align: center;
}

ul li ol{
    
    margin-bottom: 5px;
    font-size: 15px;
}


.container{
    display: block;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container .item{

    width: 100%;
    height: auto;
    position: relative;
    border: solid 1px black;
    margin-bottom: 5px; 
    
}

.container-2{
    display: flex;
    justify-content: space-between;
    
}

.container-2 .item{
    width: 50%;
    height: auto;
    border: solid 1px black;
    padding:5px;
    margin:2px;
    
}

table, tr, th, td {
  
    font-size: 15px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}


.iframe-youtube{
    text-align: center;
}

model-viewer{
    width:800px;
    height:400px;
}